/* index.html */

nav {
    padding: 0;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#icon {
    cursor: pointer;
    margin-left: 0;
}

nav li {
    margin-left: 100px;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;;
    text-align: center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    margin-top: 70px;
    padding-top: 50px;
    background-color: #fff;
}

#target {
    font-size: 80px;
    margin: 0;
}

.info {
    font-size: 20px;
    color: #808080;
    padding: 10px;
    display: flex;
    justify-content: center; 
}

.info_item {
    margin-left: 100px;
}

/* モーダル画面 */
#close {
    cursor: pointer;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px 0;
    margin: 16px auto 0;
  }

#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#mask.hidden {
    display: none;
}

#modal {
    font-size: 14px;
    background: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

#modal.hidden {
    transform: translate(0, -500px);
}

/* main.js */
.smaller {
    font-size: 60px;
}

.lovely {
    color: #ff80bf;
}

.star {
    font-size:65px;
    color: #ffd700;
}

.correct {
    opacity: 0.3;
}